/* static/styles.css */
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #4CAF50;
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 1.2em;
}
